{% extends 'layout.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}

 <div class="container center" style="background-image: src={{asset("parallax-template/NB.jpg")}}    ">
 <fieldset class="container center col s12">
 <legend> <h1>Connexion</h1></legend>
        
        <form method="post" class="row">
            {% if error %}
                <div class="col s12 m6 l6 offset-m3 offset-l3">
                    <span class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}

            {% if app.user %}
                <div class="col s12 m6 l6 offset-m3 offset-l3">
                  
                </div>
            {% endif %}
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="" required autofocus placeholder="Adresse email">
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="input-field col s12">
                <input type="submit" class="btn btn-primary" value="Me connecter">
                <a href="/reset-password" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Mot de passe Oublié</a>
                  </br>
                  <h5> Vous n'avez pas de compte?<a href="/register"> Inscrivez-vous</a>  </h5>  
            </div>
          
             </fieldset>

        </form>

    </div>
{% endblock %}