<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Compiled and minified CSS -->
        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href={{asset("parallax-template/css/materialize.min.css")}}  media="screen,projection"/>
      <script type="text/javascript" src={{asset("parallax-templatejs/materialize.min.js")}}></script>
   
        <title>{% block title %}Welcome!{% endblock %}</title>
       {% block stylesheets %}{% endblock %}
    </head>
    <body >
    	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#26a69a;">
	    <div class="nav-wrapper  ">
    
      
       
	    	<div class="container">
        	<a href="#" class="brand-logo">Nabih Pressing</a>
	    	
	    	</div>
	    </div>
  	</nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    
    </body>
</html>
